.post-title {
  color: red;
}

.post-type {
  margin-left: 20px;
  padding-top: 10px;
  color: green;
}

.post-date {
  margin-left: 20px;
  padding-top: 10px;
  color: rgb(19, 7, 82);
}

.post-content {
  color: black;
}

.post-head {
  display: flex;
  align-items: center;
}

a:hover {
  text-decoration: none;
}

jumbotron:hover {
  background-color: blue;
}
