.post-title {
  color: red;
}

.post-type {
  margin-left: 20px;
  padding-top: 10px;
  color: green;
}

.post-date {
  margin-left: 20px;
  padding-top: 10px;
  color: rgb(19, 7, 82);
}

.post-content {
  color: black;
}

.post-head {
  display: flex;
  align-items: center;
}

a:hover {
  text-decoration: none;
}

.cont {
  background-color: rgb(230, 223, 223);
  border-radius: 4px;
}

.cont:hover {
  background-color: rgb(204, 195, 195);
}

.article {
  max-width: 70%;
  margin: 0 auto;
}
